.uiContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 73px);
  padding: 16px;
  width: 100vw;
  overflow: hidden;
}

.programMonitor {
  flex: 1;
  overflow-y: scroll;
  border: 2px solid hsl(var(--border));
  border-bottom-width: 1px;
  border-radius: var(--radius) var(--radius) 0 0;
  height: calc(100vh - 26dvh - 24px);
  width: calc(100vw - 32px);
  background-color: hsl(var(--background));
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.programMonitorHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px 12px;
  border-bottom: 1px solid hsl(var(--border));
  align-items: baseline;
  width: 100%;
  position: sticky;
  background-color: hsl(var(--background));
  top: 0;
}

.contentRenderer {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.transportControls {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 4dvh;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  border: 2px solid hsl(var(--border));
  border-top-width: 1px;
  margin: 0px 0;
  background-color: hsl(var(--background));
}

.playbackControlsButtonWrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.playbackControlButton {
  padding: 0;
  margin: 0;
  transition: background-color 0.15s ease;
  min-width: 36px;
  height: 36px;
  border: none !important;
}

.timelineWrapperContainer {
  display: flex;
  overflow-x: scroll;
  width: calc(100vw - 32px);
}

.timelineWrapper {
  position: relative;
  overflow-x: scroll;
  height: 16dvh;
  width: calc(100vw - 16px);
  display: flex;
  flex-direction: row;
  padding: 0 8px 0 0;
  border: 2px solid hsl(var(--border));
  border-top-width: 1px;
  border-radius: 0 0 var(--radius) var(--radius);
  background-color: hsl(var(--background));
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.timelineContent {
  overflow-x: scroll;
  height: 16dvh;
  width: calc(100vw - 16px);
  display: flex;
  margin-top: 16px;
  flex-direction: row;
}

.itemHorizontal {
  user-select: none;
  flex: none;
  margin-right: 1px;
  width: 150px;
  height: 48px;
  padding: 10px;
  border: 2px solid hsl(var(--border));
  border-radius: var(--radius);
  background-color: hsl(var(--muted));
}

.verticalItem {
  margin-bottom: 24px;
  padding: 250px;
  background-color: hsl(var(--muted));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
}

.horizontalSection::-webkit-scrollbar {
  display: none;
}

.playheadContainer {
  cursor: ew-resize;
  pointer-events: auto;
}

.playhead {
  position: relative;
  left: 200px;
}

.timeline-container {
  width: 100%;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1fr auto;
  background: #1e1e1e;
  color: #ffffff;
}

.track {
  display: grid;
  grid-template-columns: 250px 1fr;
  border-bottom: 1px solid #333;
  min-height: 36px;
}

.track-group {
  display: flex;
  position: absolute;
  left: 0;
  flex-direction: column;
}

.track-header {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  background: #2d2d2d;
  gap: 8px;
  /* position: absolute; */
  left: 0;
}

.track-locked {
  opacity: 0.7;
  cursor: pointer;
}

/* 
.track-definition {
  display: flex;
  position: absolute;
  left: 0;
} */

.track-label {
  background: #4a6cd4;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: 0.7em;
  min-width: 52px;
  text-align: center;
  align-items: baseline;
}

.track-name {
  font-size: 0.8em;
  color: #ccc;
  flex-grow: 1;
}

.track-controls {
  display: flex;
  gap: 4px;
}

.track-controls button {
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  padding: 4px;
}

.track-content {
  position: relative;
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
  width: calc(100% - 48px);
  border-left: 1px solid #333;
  z-index: 20;
}

/* For the clips inside track-content */
.clip {
  height: calc(100% - 4px);
  padding: 0 10px;
  margin: 2px 0;
  color: #ffffff;
  background: #4a6cd4;
  border-radius: 2px;
}

